{% extends 'main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}

   <h5>Prisijungimui įveskite:</h5>
   
   <div class="large3">
    <form actions="/auth/login" method="post">
        <label for="usename">Vartotojo vardas</label>
        <input type="text" name="username" id="username">
        <label for="password">Slaptažodis</label>
        <input type="password" name="password" id="password">
        <input class="button" type="submit" value="Prisijungti"
 
{% endblock %}
